/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  body {
    overflow-x: hidden;
  }

  .wall-info {
    margin: 0;
  }

  .homepage-container {
    padding: 2rem;
    justify-content: space-between;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/
@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  body {
    padding-top: 5rem;
  }

  .homepage-container {
    justify-content: center;
  }

  .mobile-menu {
    display: flex;
  }

  .mobile-hidden {
    display: none;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .wall-info {
    width: 50rem;
  }

  .create-post-container {
    padding: 2rem 1rem;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .create-post-input-container {
    width: 36rem;
    padding: 0;
    justify-content: flex-start;
  }

  .create-post-options {
    width: 10rem;
  }

  .post-options {
    display: none;
  }

  .post-input {
    width: 30rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .homepage-container {
    padding: 2rem;
  }

  .wall-info {
    width: 100%;
  }

  .create-post-container {
    padding: 2rem 0.5rem;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
  }

  .create-post-input-container {
    width: 28rem;
    padding: 0;
    justify-content: flex-start;
  }

  .create-post-options {
    width: 100%;
  }

  .profile-picture-modal-overlay .modify-account-modal {
    width: 40rem;
  }

  .custom-file-upload {
    overflow: hidden;
  }
}
