* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg-color: #121212:
  --secondary-bg-color: #333;
  --primary-color: #4a90e2;
  /* primary text: #E0E0E0 */
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: #121212;
}

/* LOGIN/REGISTER */

.login-register-container {
  color: #fff;
  text-align: center;
  background-color: #333;
  padding: 3rem 4rem;
  border-radius: 0.5rem;
}

.form-login-register {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  padding: 1.2rem 2.4rem;
  border-radius: 0.5rem;
  border: none;
}

.no-account {
  text-align: right;
  font-size: 1.2rem;
  cursor: pointer;
}

.no-account a {
  color: var(--primary-color);
  text-decoration: none;
}

.hidden {
  display: none;
}

/* HOME PAGE */
.homepage-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4rem 8rem;
}

/* USER INFO */

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile-picture {
  width: 20rem;
  height: 20rem;
  background-color: #333;
  margin-bottom: 3rem;
}

.user-username {
  color: #fff;
  font-size: 4.8rem;
  text-align: center;
}

.user-actions {
  margin-top: 1rem;
}

.user-btn {
  width: 13rem;
  font-family: inherit;
  padding: 1rem 2rem;
  background-color: #4a90e2;
  border: none;
  cursor: pointer;
  color: #fff;
}

/* WALL INFO */

.wall-info {
  margin: 0 auto;
}

.create-post-container {
  display: flex;
  justify-content: center;

}

.create-post-input {
  width: 60rem;
  height: 5rem;
  resize: none;
  font-family: inherit;
  font-size: 2rem;
  padding: 1rem 2rem;
  overflow: hidden;
}

.create-post-btn {
  height: 5rem;
  font-family: inherit;
  padding: 1rem 2rem;
  background-color: #4a90e2;
  border: none;
  cursor: pointer;
  color: #fff;
}

/* POSTS */
.posts {
  /* margin-top: 2rem; */
  list-style: none;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post {
  color: #fff;
  width: 720px;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  font-size: 2.4rem;
  border: 1px solid #fff;
  /* padding: 2rem 4rem; */
  background-color: #333;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-content {
  padding: 2rem 4rem;
}

.post-more {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #fff;
  padding-top: 0.5rem;
}

.post-owner {
  font-size: 1.6rem;
  padding-left: 1rem;
}

.post-actions {
  align-self: flex-end;
  padding: 0 0.5rem 0.5rem 0;
  display: flex;
  justify-content: center;
}

.post-btn {
  color: #fff;
  background-color: #4a90e2;
  padding: 0.5rem 1rem;
  cursor: pointer;
}